html {
	font-family: Arial, sans-serif;
}

body {
	margin: 5%;
	background-image: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABkAAD/4QNvaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjMtYzAxMSA2Ni4xNDU2NjEsIDIwMTIvMDIvMDYtMTQ6NTY6MjcgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6NTBGMDQ2NEMwQzIwNjgxMTgwODlFMjU5NTAyRDZBQzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUY1QkFFRDVBRjVCMTFFMjg2QTQ4NDAwN0ZEMTg3RkEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUY1QkFFRDRBRjVCMTFFMjg2QTQ4NDAwN0ZEMTg3RkEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNCBNYWNpbnRvc2giPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxRTNEMzBFMjFDMjA2ODExODA4OUUyNTk1MDJENkFDMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1MEYwNDY0QzBDMjA2ODExODA4OUUyNTk1MDJENkFDMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv/uAA5BZG9iZQBkwAAAAAH/2wCEAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwMBAQEBAQEBAgEBAgICAQICAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA//AABEIAAkACQMBEQACEQEDEQH/xABhAAADAQAAAAAAAAAAAAAAAAADBAUKAQEBAQAAAAAAAAAAAAAAAAABAAIQAAEEAQALAAAAAAAAAAAAAAEAAgMEETFB0RKyE3OTFDRUEQEBAQAAAAAAAAAAAAAAAAAAIUH/2gAMAwEAAhEDEQA/AN59avC6vAeRESYmEuMbSc4072Na2yd8av8ANB2m7FQwGp60XTZwhWDFNJf/2Q==);
	text-align: center;
}

.item {
	width: 90%;
	padding-bottom: 90%;
	margin: 5%;
	position: relative;
	float: left;
	/*box-shadow: 0 0 25px #000;*/
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.item_inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.item_inner input,
.item_inner p {
	width: 100%;
	color: #FFF;
	text-shadow: 0 1px 1px #000;
	text-align: center;
}

.hex {
	background: 0;
	border: 0;
	margin-top: 30px;
	outline: 0;
	font-size: 2em;
}

.author {

}

.copy {
	display: none;
}

@media (min-width: 480px) {
	body {
		margin: 3%;
	}

	.item {
		width: 44%;
		padding-bottom: 44%;
		margin: 3%;
	}
}

@media (min-width: 720px) {
	body {
		margin: 2%;
	}

	.item {
		width: 29%;
		padding-bottom: 29%;
		margin: 2%;
	}
}

@media (min-width: 1024px) {
	body {
		margin: 1%;
	}

	.item {
		width: 23%;
		padding-bottom: 23%;
		margin: 1%;
	}
}