html {
	font-family: Arial, sans-serif;
}

.item {
	width: 23%;
	height: 100px;
	position: relative;
	float: left;
	margin: 1%;
	padding: 10px;
	box-shadow: 0 1px 3px #000;
	box-sizing: border-box;
}

.item_inner {
	position: absolute;
}

.item_inner p {
	color: #FFF;
	text-shadow: 0 1px 1px #000;
}

.hex {

}

.author {
	
}